*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
}
:root{
    --x: 400px;
    --y: 400px;
}
body{
    background-image: url(https://images.pexels.com/photos/34392737/pexels-photo-34392737.jpeg);
    background-size: cover;
}
.box{
    height: 100%;
    width: 100%;
    background:radial-gradient(100px at var(--x) var(--y),rgba(255, 255, 255, 0),rgba(0, 0, 0, 0.956));
}